<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>
<target name="org.eclipse.babel.tapiji.tools.target" sequenceNumber="7">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jdt.feature.group" version="3.19.100.v20230605-0440"/>
<unit id="org.eclipse.pde.feature.group" version="3.15.0.v20230605-0440" />
<repository location="https://download.eclipse.org/releases/2023-06/202306141000"/>
</location>
</locations>
</target>